* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}


/* -=REUSABLE=- */

.titanic {
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.h1 {
    font-size: 1.2rem;
    font-weight: 400;
    color: red
}

.h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.p {
    color: gray;
    margin-bottom: 40px;
}

.ft {
    cursor: pointer;
}

.ft:hover {
    color: white !important;
    text-decoration: underline white;
}

.dark {
    background-color: #151515;
}

.dark1 {
    background-color: #151515 !important;
    color: white;
}

.dark2 {
    color: white !important;
}

.about__card .dark {
    background-color: #151515;
    color: white;
}

.plan__content .dark {
    background-color: #151515;
    color: white;
    box-shadow: none;
}

#feedback .dark {
    background-color: #151515 !important;
    color: white;
}


/* -------------- */


/* --- HEADER --- */


/* -------------- */

header {
    position: absolute;
    top: 6%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: white;
    padding: 10px 0;
    transition: all 0.5s ease-in-out;
}

header.header-scroll {
    padding: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
    color: #189a46 !important;
    font-size: 2.1rem;
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
    color: black;
    transition: all .3s;
    padding: 0;
}

.navbar-nav .nav-item.active .nav-link {
    color: #189a46;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #189a46;
}

.navbar-nav .nav-item::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #189a46;
    transition: all .3s;
}

.navbar-nav .nav-item:hover::after {
    width: 100%;
}

.navbar-collapse .btn {
    background-color: transparent;
    font-size: 20px;
}


/* -------------- */


/* --- CAROUSEL --- */


/* -------------- */

.carousel-item {
    background-size: cover;
    background-position: center;
    height: 700px;
}

.carousel-item:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner1.jpg);
}

.carousel-item:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner2.jpg);
}

.carousel-item:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner3.jpg);
}

.carousel-item:nth-child(4) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner4.jpg);
}

.carousel-caption {
    text-transform: capitalize;
    transform: translateY(-50%);
    text-align: left;
}

.carousel-caption h3 {
    font-size: 4rem;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 1.2rem;
    margin-top: -10px;
    margin-bottom: 50px;
}

.btn-1,
.btn-1:link,
.btn-1:visited {
    color: #189a46;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 12px 35px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
}

.btn-2,
.btn-2:link,
.btn-2:visited {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 12px 35px;
    border-radius: 10px;
    border: 2px solid white;
    transition: all .3s;
}

.btn-2:hover {
    color: #189a46;
    background-color: white;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border-radius: 50%;
    opacity: 1;
}

.carousel-indicators li.active,
.carousel-indicators li:hover {
    padding: 0 8px;
    background-color: #189a46;
    border-radius: 100px;
}


/* about */

#about .about__header {
    text-align: center;
}

.about__header p {
    font-size: 20px;
    color: #696969;
}

.about__header h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

#about a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #189A46;
    transition: all 0.5s;
}

#about a:hover {
    color: #189A46 !important;
}

.about__icon i {
    color: #189A46;
    font-size: 30px;
    margin: 0 0 24px 0;
}

.about__box h4 {
    cursor: pointer;
    font-weight: 800;
    margin: 0 0 16px 0;
}

.about__box h4:hover {
    color: #189A46;
}

.about__box p {
    font-size: 19px;
    color: #696969;
    margin: 0 0 20px 0;
}

.about__content {
    background-color: rgb(147 106 232 / 5%);
    margin: 50px auto;
}

.about__box {
    background-color: white;
    border-radius: 16px;
    padding: 30px;
    margin: 20px 2px;
}

.about__box:hover {
    background-color: rgba(146, 104, 232, 0.05);
    transition: all 0.5s;
}

.about__content1 {
    width: 90%;
}


/* -------------- */


/* --- CHOOSE --- */


/* -------------- */

#choose {
    padding: 100px 0;
}

.choose__title {
    align-self: center;
}

.choose__title ul li {
    font-weight: bold;
    margin-bottom: 20px;
}

.choose__title ul li i {
    font-size: 0.6rem;
    color: #189a46;
    background-color: #f9f7fe;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.choose__img img {
    margin-left: 10%;
    border-radius: 10px;
}


/* -------------- */


/* --- COUNT UP --- */


/* -------------- */

#count__up {
    background-color: #189a46;
    padding: 50px 0;
}

.count__up {
    text-align: center;
}

.count__box span {
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
}

.count__box span:last-of-type {
    font-size: 1.2rem;
    font-weight: unset;
    color: rgb(230, 230, 230);
}


/* plan */

#plan {
    background-color: rgb(147 106 232 / 5%);
}

.plan__1,
.plan__1active {
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

#plan .container {
    width: 75%;
}

.plan__text li {
    list-style: none;
}

.plan__button .btn {
    background-color: #189A46;
    color: white;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    padding: 12px 30px;
    transition: all 0.5s;
}

.plan__1 {
    height: 480px;
    margin-top: 50px;
}

.plan__1active {
    height: 550px;
    padding: 0 0;
    box-shadow: 0 19px 30px 0 rgba(0, 0, 0, 0.2);
}

.plan__1active .plan__top {
    background-color: #189A46;
    border-radius: 10px 10px 0 0;
    color: white;
}

.plan__top h6 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 50px;
}

.plan__top h4 {
    color: #189A46;
    font-size: 40px;
    font-weight: 800;
}

.plan__top label {
    font-size: 24px;
    vertical-align: top;
}

.plan__top span {
    color: #999;
    font-size: 17px;
    font-weight: normal;
}

.plan__1active .plan__top h4 {
    color: white;
}

.plan__1active .plan__top span {
    color: white;
}

.plan__1active .plan__top .btn {
    color: #189A46;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 600;
    padding: 5px 16px;
    margin-top: 40px;
    background-color: white;
    cursor: text;
}

.plan__text {
    color: #696969;
    margin-top: 30px;
}

.plan__button .btn:hover {
    background-color: #116E32;
    border-color: #116E32;
}

.plan__text p {
    font-size: 18px;
}

.plan__header h1 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600
}


/* -------------- */


/* --- BETTER --- */


/* -------------- */

#better {
    padding: 100px 0;
}

.better__title {
    text-align: center;
    padding: 0 150px 50px 150px;
}

.better__title p {
    font-size: 1.2rem;
}

.better__video {
    text-align: center;
}

.better__video img {
    width: 80%;
    border-radius: 10px;
}

.better__video {
    position: relative;
}

.better__video a {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .3s;
}

.better__video a:hover {
    transform: scale(1.2, 1.2);
}

.better__video a i {
    color: #189a46;
    padding: 20px 21px;
    background-color: white;
    border-radius: 50%;
}

.bebe {
    display: none;
}


/* feedback */

#feedback {
    background-color: rgb(147 106 232 / 5%);
}

.feedback__head h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

#feedback .feedback__item {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    max-width: 490px
}

.feedback__img {
    display: flex;
}

.feedback__img img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.feedback__img p {
    color: #999;
}

.feedback__content {
    padding: 34px 20px;
    margin: 10px 10px;
}

.feedback__bottom {
    max-width: 1050px;
    margin: auto;
}

.feedback__bottom1 {
    padding: 40px 10px;
    border: none;
}

.feedback__text p {
    font-size: 20px;
    font-weight: 300;
}

.feedback__text i {
    color: #189A46;
    font-size: 20px;
    position: relative;
    bottom: 15px;
}


/* -------------- */


/* --- STAY --- */


/* -------------- */

#stay {
    padding: 100px 0;
}

.stay {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.stay__title p {
    font-size: 1.3rem;
}

.stay__box input {
    padding: 15px 300px 15px 10px;
    border-radius: 10px;
    border: 1px solid rgb(202, 202, 202);
    color: #189a46;
}

.stay__box .btn-1 {
    background-color: #189a46;
    color: white;
    border: 1px solid #189a46;
    padding-bottom: 14px;
    padding-top: 9px;
    margin-left: 15px;
    transition: all .3s;
}

.stay__box .btn-1:hover {
    background-color: #095e26;
}


/* -------------- */


/* --- FOOTER --- */


/* -------------- */

#footer {
    background-color: #111111;
    color: white;
}

#footer li {
    color: gray;
}

.footer {
    padding: 50px;
}

.footer__1 {
    width: 55%;
}

h4 {
    margin-bottom: 30px;
}

.footer__1 p {
    font-weight: bold;
}

.footer__1 span {
    font-weight: lighter;
}

.footer__1 i {
    margin-right: 16px;
    font-size: 0.9rem;
    transition: all .3s;
    cursor: pointer;
}

.footer__2 {
    width: 15%;
}

.footer__3 {
    width: 15%;
}

.footer__4 {
    width: 15%;
}

.footer__2 li,
.footer__3 li,
.footer__4 li {
    margin-bottom: 10px;
}

.footer__1 i:hover {
    color: white;
}

.footer__end {
    background-color: #111111;
    text-align: center;
    padding: 30px;
    border-top: 1px gray solid;
    color: gray;
}

.footer__end p {
    margin: 0;
}

.footer__end span {
    color: rgb(185, 23, 23);
    cursor: pointer;
}

.footer__end span:hover {
    text-decoration: underline rgb(185, 23, 23);
}


/* BACKTOTOP */

#footer a {
    text-decoration: none;
}

#footer a:hover {
    color: #189a46;
}

#footer .backToTop:hover {
    background: white;
    border: 1px solid #189A46;
}

.backToTop {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    background: #189a46;
    font-weight: bold;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
}